FUEL_PRICE_API_URL=https://index.minfin.com.ua/ua/markets/fuel/tm/
FUEL_PRICE_CSV_PATH=./Utils/Scraper/fuel_prices.csv
FRONTEND_PORT=8081
SERVER_PORT=7000
ASPNETCORE_URLS=http://+:${SERVER_PORT}
VALHALLA_PORT=8002
VALHALLA_PERSISTENT_DIR_LOCAL=./Utils/ValhallaHelper/persistent
VALHALLA_API_URL=http://valhalla:${VALHALLA_PORT}
BACKEND_API_URL=http://back:8080
POSTGRES_PERSISTENT_DIR_LOCAL=./Utils/db
AUTH_SECRET=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=