FUEL_PRICE_API_URL=https://index.minfin.com.ua/ua/markets/fuel/tm/
FUEL_PRICE_CSV_PATH=./utils/scraper/fuel_prices.csv
FRONTEND_PORT=8080
SERVER_PORT=7000
VALHALLA_PORT=3300
VALHALLA_PERSISTENT_DIR_LOCAL=./Utils/ValhallaHelper/persistent
VALHALLA_PERSISTENT_DIR_CONTAINER=/valhalla/persistent